@page "/ros"
@attribute [TabItemOption(Text = "ROS")]
@using DataView_UMS.Models.HttpModels
<PageTitle>Table</PageTitle>
<div class="page-user">
	<Tab IsCard="true">
    <TabItem Text="操作台">
            <Table TItem="RosStatus" Items="@RosLst" IsStriped="true">
            <TableColumns>
                <TableColumn @bind-Field="@context.RosID" Width="180" />
                <TableColumn @bind-Field="@context.RosName" />
                <TableColumn @bind-Field="@context.RosTypeName" />
            </TableColumns>
        </Table>
    </TabItem>
    <TabItem Text="操作台类型">
        <Table TItem="RosType" IsPagination="false" Items="@RosTypeLst"  IsStriped="true" >
            <TableColumns>
                <TableColumn @bind-Field="@context.RosTypeId"/>
                <TableColumn @bind-Field="@context.RosTypeName"/>
            </TableColumns>
        </Table>
    </TabItem>
 </Tab>
</div>
 

