@page "/users"
@attribute [TabItemOption(Text = "User")]
@using DataView_UMS.Models.HttpModels

@* <PageTitle>花名册</PageTitle> *@

<div class="page-user">
    <Tab IsCard="true">
        <TabItem Text="用户管理">
            <Table TItem="UserInfo" Items="@UserLst" IsStriped="true">
                <TableColumns>
                    <TableColumn @bind-Field="@context.UserId" Width="180" />
                    <TableColumn @bind-Field="@context.UserName" />
                    <TableColumn @bind-Field="@context.NickName" />
                    <TableColumn @bind-Field="@context.Password" />
                    <TableColumn @bind-Field="@context.RoleName" />

                </TableColumns>
            </Table>
        </TabItem>
    <TabItem Text="角色管理">
           <Table TItem="RoleInfo" Items="@RoleLst" IsStriped="true">
                <TableColumns>                   
                    <TableColumn @bind-Field="@context.RoleId" />
                    <TableColumn @bind-Field="@context.RoleName" />

                </TableColumns>
            </Table>
    </TabItem>
</Tab>
    
</div>
